<!DOCTYPE html>
<html>

<head>
    <title>Lab Assignment 2</title>
</head>

<body>
    <div class="app-main-container">
      <app-main-header></app-main-header>
      <app-main-content></app-main-content>
      <router-outlet class ='main-outlet'></router-outlet>
      <app-main-footer></app-main-footer>
        <!-- <div class="row-one">
            <div class="align-center">
                r1c1
            </div>
            <div (mouseenter)="showGreeting()" (mouseleave)="hideGreeting()" id="r1c2"class="align-center">
                r1c2
            </div>
            <div class="align-center">
                r1c3
            </div>
        </div> -->
        <!-- <div class="row-two">
            <div class="align-center">
                r2c1
            </div>
            <div class="align-center">
                r2c2
            </div>
            <div class="align-center">
                r2c3
            </div>
        </div> -->
        <!-- <div class="row-three">
            <div class="align-center">
                r3c1
            </div>
            <div class="align-center">
                r3c2
            </div>
            <div class="align-center">
                r3c3
            </div>
        </div> -->
    </div> 
</body>

</html>