.main-container-grid {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    height: 80vh;
}

.table-one {
    width: 100%;
    border: 1px solid #ccc;
}

.table-one > tbody > tr > td {
    border: 1px solid #ccc;
    min-height: 50px;
    padding: .5em;
}
.add-button {
    font-size: bold;
}